* {
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;    
  	box-sizing: border-box;    
}

body {
	background-color: #273a3d;
	height: 1334px;
	width: 750px;
}

#container {
	/*background-color: white;*/
	height: 1334px;
	width: 750px;
}

#headerArea {
	height: 185px;
	width: 750px;
	position: relative;
}

#header {
	background-image: url(images/00-menubar.jpg);
	height: 185px;
	width: 750px;
}

#galleryIcon {
	background-image: url(images/07-photogallery.png);
	background-size: 132px 90px;
	background-repeat: no-repeat;
	height: 90px;
	width: 132px;
	position: absolute;
	top: 55px;
	left: 575px;
}

#locationIcon {
	background-image: url(images/06-location.png);
	background-size: 100px 100px;
	background-repeat: no-repeat;
	height: 100px;
	width: 100px;
	position: absolute;
	top: 40px;
	left: 55px;
}

#backButton {
	background-image: url(images/07-back.png);
	background-size: 100px 100px;
	background-repeat: no-repeat;
	height: 100px;
	width: 100px;
	position: absolute;
	top: 40px;
	left: 55px;
}

#cameraButton {
	background-image: url(images/07-camera.png);
	background-size: 100px 100px;
	background-repeat: no-repeat;
	height: 100px;
	width: 100px;
	position: absolute;
	top: 45px;
	left: 585px;
}

#togglesArea {
	height: 1149px;
	width: 750px;
}

#togglesContainer {
	/*background-color: blue;*/
	height: 1049px;
	width: 550px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 100px;
}

.toggle {
	/*background-color: red;*/
	height: 200px;
	width: 200px;
	margin-bottom: 10px;
}

.toggleDesc {
	/*background-color: yellow;*/
	height: 75px;
	width: 200px;
	color: white;
	text-align: center;
	margin-bottom: 30px;
	font-size: 32px;	
}

#toggleDescL {
	clear: both;
	float: left;
}

#toggleDescR {
	float: right;
}


#toggle1 {
	background-image: url(images/01-gallery.png);
	float: left;
}

#toggle2 {
	background-image: url(images/02-food.png);
	float: right;
}

#toggle3 {
	background-image: url(images/03-bars.png);
	clear: both;
	float: left;
}

#toggle4 {
	background-image: url(images/04-parking.png);
	float: right;
}

#toggle5 {
	background-image: url(images/05-metro.png);
	clear: both;
	float: left;
}

#toggle6 {
	background-image: url(images/06-photos.png);
	float: right;
}

#mapArea {
	height: 1149px;
	width: 750px;
}

#mapContainer {
	height: 1149px;
	width: 750px;
}
#map_canvas {
	height: 1149px;
	width: 750px;
}

#galleryArea {
	background-color: white;
	height: 1149px;
	width: 750px;
}

#galleryContainer {
	/*background-color: red;*/
	background-image: url(images/07-photogallery-example.png);
	height: 1149px;
	width: 650px;
	margin-right: auto;
	margin-left: auto;
}

