.version.map /* version checker */
{
	color: #00001B;
	background-color: #D031D1;
}

@-ms-viewport
{
	width: 750px;
}

@-webkit-viewport
{
	width: 750px;
}

@-o-viewport
{
	width: 750px;
}

@-moz-viewport
{
	width: 750px;
}

@viewport
{
	width: 750px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 750px;
	min-height: 1303.539402501808px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: -70px;
}

#pu408
{
	width: 0.01px;
}

#u408
{
	z-index: 2;
	width: 750px;
	margin-right: -10000px;
}

#u89-6
{
	z-index: 4;
	margin-right: -10000px;
	margin-top: 30px;
	left: 150px;
}

#u353
{
	z-index: 12;
	width: 119px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 585px;
}

#u384
{
	z-index: 14;
	width: 108px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 58px;
}

#pu91
{
	width: 0.01px;
	margin-top: -2px;
}

#u91,#u91-bw
{
	z-index: 10;
	height: 1166px;
}

#u273
{
	z-index: 11;
	min-height: 1166px;
}

#u273-bw
{
	z-index: 11;
	min-height: 1166px;
	height: 1166px;
}

#accordionu562
{
	z-index: 16;
	width: 749px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	-webkit-transform: matrix(-1,0,0,-1,751,53);
	-ms-transform: matrix(-1,0,0,-1,751,53);
	-o-transform: matrix(-1,0,0,-1,751,53);
	transform: matrix(-1,0,0,-1,751,53);
	left: -1px;
	margin-top: 17px;
	position: relative;
}

#u571
{
	z-index: 17;
	width: 749px;
	background-color: transparent;
	position: relative;
}

#u574-3
{
	z-index: 18;
	width: 739px;
	min-height: 31px;
	border-style: none;
	border-color: transparent;
	background-color: #193133;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u574-3:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 31px;
	margin: 0px;
}

#u574-3.AccordionPanelTabOpen
{
	border-style: none;
	border-color: transparent;
	background-color: #193133;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 31px;
	margin: 0px;
}

#u574-3.AccordionPanelTabOpen p
{
	color: #4F4F4F;
	visibility: inherit;
}

#u572
{
	z-index: 21;
	width: 749px;
	border-style: none;
	border-color: transparent;
	background-color: #193133;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	padding-bottom: 31px;
	position: relative;
}

#u580
{
	z-index: 22;
	width: 99px;
	background-color: transparent;
	-webkit-transform: matrix(-1,0,0,-1,99,99);
	-ms-transform: matrix(-1,0,0,-1,99,99);
	-o-transform: matrix(-1,0,0,-1,99,99);
	transform: matrix(-1,0,0,-1,99,99);
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 576px;
}

#u633
{
	z-index: 24;
	width: 104px;
	background-color: transparent;
	-webkit-transform: matrix(-1,0,0,-1,104,104);
	-ms-transform: matrix(-1,0,0,-1,104,104);
	-o-transform: matrix(-1,0,0,-1,104,104);
	transform: matrix(-1,0,0,-1,104,104);
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 450px;
}

#u639
{
	z-index: 26;
	width: 104px;
	background-color: transparent;
	-webkit-transform: matrix(-1,0,0,-1,104,104);
	-ms-transform: matrix(-1,0,0,-1,104,104);
	-o-transform: matrix(-1,0,0,-1,104,104);
	transform: matrix(-1,0,0,-1,104,104);
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 323px;
}

#u645
{
	z-index: 28;
	width: 102px;
	background-color: transparent;
	-webkit-transform: matrix(-1,0,0,-1,102,102);
	-ms-transform: matrix(-1,0,0,-1,102,102);
	-o-transform: matrix(-1,0,0,-1,102,102);
	transform: matrix(-1,0,0,-1,102,102);
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 200px;
}

#u651
{
	z-index: 30;
	width: 102px;
	background-color: transparent;
	-webkit-transform: matrix(-1,0,0,-1,102,102);
	-ms-transform: matrix(-1,0,0,-1,102,102);
	-o-transform: matrix(-1,0,0,-1,102,102);
	transform: matrix(-1,0,0,-1,102,102);
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 74px;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

body
{
	position: relative;
	min-width: 750px;
}

#page .verticalspacer
{
	clear: both;
}

