<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id        = "keneysu.com"
		versionCode="1"
		version   = "1.0">
		<name>OVRLAY EDIT</name>
		<description> 
			A simple overlay photo edit application.
		</description>
		<author href="keneysu.com" email="keney17@gmail.com">
			Keney Su
		</author>
		<content src="index.html" />
        <access origin="*" />
        <preference name="android-installLocation" value="auto" />
        <preference name="Fullscreen" value="true" />
        <preference name="Orientation" value="portrait" />
		<preference name="phonegap-version" value="3.6.3" />
		<gap:platform name="android" />
		<feature name="http://api.phonegap.com/1.0/camera"/>
		<gap:plugin name="org.apache.cordova.camera" version="0.3.2" />
	</widget>